body {
	font: 10px normal Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
margin:0;
padding:0;
border:0 none;
}


h1 {
	font: 4.7em normal Georgia, 'Times New Roman', Times, serif;
	color: #333;
	margin: 0;
	padding: 5px 0;
}
h1 small{
	font: 0.2em normal Verdana, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	letter-spacing: 1.5em;
	display: block;
	color: #fff;
}
.container {width: 970px; margin: 0 auto;}



ul#topnav {
	margin: 0; padding: 0;
	float: left;
	
	list-style: none;
	position: relative;
	font-size: 1.2em;
	background: url(../images/nav-background.gif) repeat-x;
}
ul#topnav li {
	float: left;
	margin: 0; padding: 0;
	border-right: 1px solid #a5a5a5;
}
ul#topnav li a {
	padding: 6px 15px;
	display: block;
	color: #ffffff;
	text-decoration: none;
}
ul#topnav li:hover { background: #1376c9 url(../images/subnav-hover.gif) repeat-x; }
ul#topnav li span {
	float: left;
	padding: 8px 0;
	position: absolute;
	left: 0; top:27px;
	display: none;
	width: 970px;
	background-image: url(../images/dock_bg.gif);
	color: #f0f0f0;
	z-index:1000;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
ul#topnav li:hover span { display: block; }
ul#topnav li span a { display: inline; }
ul#topnav li span a:hover {text-decoration: underline;}

#container  {
	margin:0 auto;
	text-align:left;
}
.fixed-lg  {
width:970px;
}
.section {
background-color:#FFFFFF;
color:#666666;
height:42px;
position:relative;
}
.standard {
clear:both;
width:100%;
}
.usernav {
height:25px;
margin:5px 0 0;
position:absolute;
right:0;
text-align:right;
top:10px;
}
ul.usernav li.first {
border:medium none;
color:#777777;
font-size:11px;
font-weight:bold;
}

ul.usernav li {
border-left:1px solid #CCCCCC;
display:inline;
margin-left:9px;
padding-left:10px;
}

a.utility-link-sign, .sign-out-link a {
color:#444444;
font-size:11px;
font-weight:bold;
outline:medium none;
text-decoration:none;
}
a.utility-link {
color:#5588BB;
font-size:11px;
font-weight:bold;
outline:medium none;
text-decoration:none;
}


ul.nv  {
height:42px;
left:0;
position:absolute;
}
ul.nv li.first {
background:none repeat scroll 0 0 transparent;
width:170px;
text-align:left;
}
ul.nv li a {
font-size:18px;
font-family: "Comic Sans MS";
font-weight:normal;
text-decoration:none;
color:#444444;
}
ul.nv li.tabvc a{
padding:9px 8px;
height:42px;
width:94px;
}
ul.nv li.tabvc a:hover{
	color:#9cc93b;
	background-image:url(../images/tab-hover.gif);
}
ul.nv li#videos {

}

ul.nv li#conferences {

}

ul.nv li.current{
background-image:url(../images/tab-current.gif);
}
ul.nv li {
cursor:pointer;
display:block;
float:left;
font-weight:normal;
height:42px;
line-height:42px;
margin:0;
padding:0;
text-align:center;
}
ul, ol {
margin:0;
}
ol, ul {
list-style:none outside none;
}

div.bar  {
background:url("../images/nav-background.gif") repeat-x scroll 0 0 transparent;
height:27px;
padding:0;
}

body .fluid {
min-width:920px;
width:100%;
}

div.searchnav {
	float:right;
	height:20px;
	margin-top:3px;
	position:relative;
	right:0;
	text-align:right;
	width:25%;
}

form#search_form {
margin-top:0;
}
input#video_search_term  {
	border-color:#949494 #949494 #696969;
	border-style:solid;
	border-width:1px;
	font-size:11px;
	height:16px;
	line-height:15px;
	margin-right:0;
	margin-top:1px;
	padding:1px 1px 0;
	vertical-align:top;
	width:168px;
}

form#search_form a {
	margin:0;
	padding:0;
	color:#4C4C4C;
	font-weight:bold;
	outline:medium none;
	text-decoration:none;
}
form#search_form img {
	margin-bottom:-1px;
	margin-left:-1px;
	margin-top:1px;
	padding:0;
	vertical-align:middle;
}
div.searchnav {
	float:right;
	height:20px;
	margin-top:3px;
	position:relative;
	right:0;
	text-align:right;
	width:25%;
}

input#bottom_video_search_term  {
	border-color:#949494 #949494 #696969;
	border-style:solid;
	border-width:1px;
	font-size:11px;
	height:16px;
	line-height:15px;
	padding:1px 1px 0;
	vertical-align:top;
	width:385px;
}

a.search-footer-link, span.search-footer-spacer {
	color:#FFFFFF;
	font-size:10px;
	font-weight:normal;
	line-height:18px;
	margin:0 0 0 10px;
	outline:medium none;
	text-decoration:none;
	vertical-align:top;
}
a.search-footer-link:hover {
	color:#FFFFFF;
	text-decoration:underline;
}
a.footer-link:hover {
	color:#69B521;
	text-decoration:underline;

}
div.main{
	min-height:600px;
}
.fp_align
{
	float:left;
	width:430px;
	margin:25px 0px 0px 285px;
}	
.flt
{
	float:left;
	display:inline;
}
.fp_home,.fp_bar
{
	font:11px Arial, Helvetica, sans-serif;
	color:#8E8B8B;
	text-decoration:none;
}	
.fp_power
{
	font:11px Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	text-decoration:none;
	margin:10px 0px 0px 405px;
}	








/* Clear fix */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* Page */
* { margin: 0; padding: 0; border: 0; outline: 0; }

/* loopedSlider */
.container_pic { position:relative; margin-top:0px; height:300px; overflow:hidden; }
.container_pic div { background-color:#eaeaea; opacity:0; z-index:0; position:absolute; top:0; left:0;  }
#loopedSlider { position:relative;  margin:0px auto; }

/* Custom settings */
.pagination,.nav-buttons { list-style-type:none; margin:0; padding:0; }
.pagination { margin:9px auto; width:132px; }
.pagination li,.nav-buttons li { float:left; margin:0 5px; }	
.pagination a { display:block; width:12px; padding-top:12px; height:0; overflow:hidden; background-image:url(../images/pagination.png); background-position:0 0; background-repeat:no-repeat;}
.pagination a.active {background-position:0 -12px}
li.p { position:absolute; top:150px; left:-32px; }
li.n { position:absolute; top:150px; right:-32px; }

/* Type */
h1 { font:normal 20px/18px georgia, times, serif; letter-spacing:-0.5px; margin:0; }
p { margin-bottom:18px; }














td {
	text-align: center;
}

div.example {
	margin-bottom: 20px;
	position: relative;
}

div.ie-fix {
  overflow: visible;
  height: 0;
}

.target {
	text-align: center;
	border: 1px solid #666666;
	width:auto;
	height: auto;
	display: block;
	float: left;
}

input.alt-target {
	width: 80px;
}

#page {
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	background-color: #EEE;
	padding: 2em;
	margin-top: 0px;
	margin-bottom: 0px;
	position: relative;
}

h3 {
	color: #666666;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	font-size: 1.2em;
	margin: 0 0 .4em 0;
}
p {
	margin-top: 0px;
	margin-bottom: 1em;
}

.desc {
  margin-left: 100px;
}

.source {
 	/*clear: both;*/
}

.html-source, .js, .css-source {
	font-family: "Courier New", Courier, monospace;
	background-color: #FFF;
	/*clear: both;*/
}

.html-source textarea, .js textarea, .css-source textarea {
  font-family: "Courier New", Courier, monospace;
	font-size: 11px;
}

.html-link a:focus, .js-link a:focus, .css-link a:focus {
  outline: none;
	-moz-outline: none;
}

/** Google maps demo **/

#example17 {
  cursor: pointer;
}

.gmap {
  font-family: Arial, sans-serif;
  font-size: 13px;
  position: relative;
}

.gmap-title {
  font-size: 16px;
  font-weight: bold;
}

.gmap-addr {
  padding-bottom: 15px;
  padding-top: 5px;
}

.gmap-close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}




.video {
float:left;
height:139px;
margin-right:50px;
margin-top:25px;
}
.indexV .iVideo .video {
float:left;
height:139px;
margin-right:15px;
}

.video, .video_s {
left:0;
position:relative;
top:0;
width:128px;
z-index:0;
}
.indexV .iVideo .video li {
line-height:16px;
}

.video .videoImg, .video .vImg {
height: 96px;
left:0;
position:relative;
top:0;
width:128px;
z-index:0;
}
.indexV .iVideo .vTitle {
height:16px;
overflow:hidden;
}
.video li, .video_s li {
color:#909090;
}
.video .playMenu, .video .vMenu, .video_s .playMenu, .video_s .vMenu {
	background-repeat:no-repeat;
	cursor:pointer;
	height:16px;
	left:110px;
	line-height:16px;
	padding:0;
	position:absolute;
	top:78px;
	width:16px;
	z-index:3;
}

.ico__statplay  {
background:url("../images/master.png") no-repeat scroll -64px -224px transparent;
display:inline-block;
height:14px;
vertical-align:text-bottom;
width:16px;
}
.ico__statcomment {
background:url("../images/master.png") no-repeat scroll -96px -224px transparent;
display:inline-block;
height:14px;
vertical-align:text-bottom;
width:16px;
}









