
body {
	background-color:#777;	
	padding:0;
	margin:0;
	text-align:center;
}

p
{
	margin:0px;
	padding:0px;
}
.flt
{
	float:left;
	display:inline;
}
img
{
	border:0px;
}
#mainblock
{
	margin:auto;
	width:1000px;
}
#footer
{
	float:left;
	background:#302F2F;
	width:1000px;
	padding-bottom:10px;
}
#innerblock,#toppanel,
{	
	float:left;
	width:1000px;
}	
#contentpanel
{
	float:left;
	display:inline;
	background:url(../images/cp_bg.jpg) repeat-x #ffffff;
	width:1000px;
	padding-bottom:20px;
}
.top1
{
	background:url(../images/top1.jpg) no-repeat;
	width:1000px;
	height:100px;
}
.top2
{
	background:url(../images/top2.jpg) no-repeat;
	width:1000px;
	height:56px;
}
.tp_logo
{
	margin:38px 0px 0px 37px;
}	
.tp_align
{
	float:left; 
	width:380px;
}
.tp_alig
{
	float:left; 
	width:600px;
}	
.tp_ali
{
	float:left; 
	width:530px;
}	
	
.tp_border
{
	margin:42px 0px 0px 13px;
}
.tp_share
{
	margin:50px 0px 0px 12px;
}
.tp_wel
{
	float:right;
	font:11px Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	margin:42px 24px 0px 0px;
}			
.tp_funn
{
	font:11px Arial, Helvetica, sans-serif;
	color:#A15407;
	text-decoration:none;
	margin:2px 0px 0px 0px;
}	
.tp_bar
{
	font:11px Arial, Helvetica, sans-serif;
	color:#FFEE7A;
	margin:2px 15px 0px 15px;
}		
.tp_txt
{
	width:292px;
	height:20px;
	font:12px Arial, Helvetica, sans-serif;
	border:1px solid #000000;
	margin:15px 0px 0px 25px;
}	
.tp_select
{
	width:94px;
	height:22px;
	font:11px Arial, Helvetica, sans-serif;
	border:1px solid #000000;
	margin:15px 0px 0px 10px;
}	
.tp_search
{
	margin:15px 0px 0px 10px;
}	
.tp_home
{
	font:bold 11px Arial, Helvetica, sans-serif;
	color:#182327;
	text-decoration:none;
	margin:15px 0px 0px 45px;
}	
.tp_home:hover
{
	font:bold 11px Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	text-decoration:none;
	margin:15px 0px 0px 45px;
}	
.cp
{
	float:left;
	width:685px;
}
.rp
{
	float:left;
	width:285px;
	margin-left:30px;		
	
}	
.cp_box
{
	background: #8c8d8d url(../images/cp_boxbg.jpg) repeat-x;
	width:660px;
	border:1px solid #565F62;
	margin:20px 0px 0px 22px;
	padding-bottom:20px;
}
.cp_align
{
	float:left;
	width:650px;
}		
.cp_bul
{
	margin:10px 0px 0px 16px;
}
.cp_video
{
	font:bold 13px Arial, Helvetica, sans-serif;
	color:#D6BC0C;
	margin:14px 0px 0px 8px;
}	
.cp_we
{
	font:11px Arial, Helvetica, sans-serif;
	color:#C3C3C3;
	width:560px;
	margin:20px 0px 0px 30px;
}	
.cp_img1
{
	margin:25px 0 0 25px;
}	
.cp_acro
{
	clear:left;
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	margin:14px 0px 0px 0px;
}	
.cp_ext
{
	font:11px Arial, Helvetica, sans-serif;
	color:#DCFF8A;
	margin:15px 0px 0px 10px;
}	
.cp_arr
{
	margin:15px 0px 0px 4px;
}	
.cp_box1
{
	background: #E0F8FF url(../images/cp_boxbg1.jpg) repeat-x;
	width:660px;
	border:1px solid #B0CADE;
	margin:20px 0px 0px 22px;
	padding-bottom:20px;
}
.cp_left
{
	margin:70px 0px 0px 15px;
}
.cp_bimg1 
{
	margin:40px 0px 0px 14px;
	border:3px solid #F9FFE9;
}	 	
.cp_gbul
{
	margin:20px 0px 0px 45px;
}	
.cp_nulla
{
	font:11px Arial, Helvetica, sans-serif;
	color:#4D5D68;
	text-decoration:none;
	margin:16px 0px 0px 10px;
	width:95px;
}	
.cp_tab
{
	background:url(../images/cp_tab.jpg) no-repeat;
	width:660px;
	height:34px;
	margin:30px 0px 0px 22px;
}	
.cp_fea,.cp_feas
{
	font:bold 11px Arial, Helvetica, sans-serif;
	color:#656565;
	text-decoration:none;
	margin:14px 0px 0px 26px;
}	
.cp_feas
{
	margin:14px 0 0 36px;
}	
.cp_tab a:hover
{
	font:bold 11px Arial, Helvetica, sans-serif;
	color:#D34600;
	text-decoration:none;
}	
.cp_oimg1
{
	margin:25px 0px 0px 27px;
	border:3px solid #1B1B1B;
}	
.cp_viv
{
	font:bold 11px Arial, Helvetica, sans-serif;
	color:#3CAAB7;
	width:260px;
	margin:33px 0px 0px 0px;
}	
.cp_best
{
	font:11px Arial, Helvetica, sans-serif;
	color:#666666;
	margin:6px 0px 0px 0px;
}	
.cp_ut
{
	font:11px Arial, Helvetica, sans-serif;
	color:#848484;
	width:260px;
	margin:15px 0px 0px 0px;
}	
.cp_rates
{
	clear:left;
	font:11px Arial, Helvetica, sans-serif;
	color:#769A21;
	margin:3px 0px 0px 0px;
}	
.cp_star
{
	margin:5px 0px 0px 0px;
}	
.cp_dotline
{
	margin:20px 0px 0px 34px;
}		
.rp_box
{
	width:265px;
	margin:20px 0px 0px 0px;
}	
.rp_top
{
	background:url(../images/rp_top.jpg) no-repeat;
	width:264px;
	height:42px;
}
.rp_bg
{
	background:url(../images/rp_bg.jpg) repeat-y;
	width:264px;
	padding-bottom:10px;
}		
.rp_mem
{
	font:bold 14px Arial, Helvetica, sans-serif;
	color:#383737;
	margin:15px 0px 0px 20px;
}	
.rp_align
{
	float:left;
	width:264px;
}	
.rp_user
{
	font:11px Arial, Helvetica, sans-serif;
	color:#161616;
	margin:10px 0px 0px 30px;
}	
.rp_txt
{
	width:132px;
	border:1px solid #6E6F70;
	font:11px Arial, Helvetica, sans-serif;
	margin:7px 0px 0px 8px;
}		
.rp_login
{
	margin:7px 0px 0px 160px;
}	
.rp_not
{
	font:11px Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	width:210px;
	margin:10px 0px 0px 40px;
}	
.rp_uploadbg
{
	background:url(../images/rp_uploadbg.jpg) no-repeat;
	width:264px;
	height:100px;
	margin:5px 0px 0px 0px;
}	
.rp_uplo
{
	font:bold 11px Arial, Helvetica, sans-serif;
	color:#FB9403;
	margin:15px 0px 0px 20px;
}		
.rp_txt1
{
	width:160px;
	height:19px;
	font:11px Arial, Helvetica, sans-serif;
	border:1px solid #D3D3D3;
	margin:12px 0px 0px 20px;
}
.rp_upload
{
	margin:12px 0px 0px 0px;
}			
.rp_more
{
	font:11px Arial, Helvetica, sans-serif;
	color:#848484;
	width:200px;
	margin:10px 0px 0px 22px;
}	
.rp_top1
{
	background:url(../images/rp_top1.jpg) no-repeat;
	width:264px;
	height:41px;
}
.rp_bg1
{
	background:url(../images/rp_bg1.jpg) repeat-y;
	width:264px;
	padding-bottom:10px;
}	
.rp_bul
{
	clear:left;
	margin:12px 0px 0px 25px;
}
.rp_funn	
{
	font:11px Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	text-decoration:none;
	margin:8px 0px 0px 15px;
}		
.rp_top2
{
	background:url(../images/rp_top2.jpg) no-repeat;
	width:264px;
	height:41px;
}
.rp_bg2
{
	background:url(../images/rp_bg2.jpg) repeat-y;
	width:264px;
	padding-bottom:10px;
}
.rp_img1
{
	margin:22px 0px 0px 30px;
}	
.rp_viv
{
	font:bold 11px Arial, Helvetica, sans-serif;
	color:#595A5B;
	width:110px;
	margin:30px 0px 0px 10px;
}	
.rp_botbul
{
	margin:33px 0 0 10px;
}	
.fp_home,.fp_bar
{
	font:11px Arial, Helvetica, sans-serif;
	color:#8E8B8B;
	text-decoration:none;
}	
.fp_align
{
	float:left;
	width:430px;
	margin:25px 0px 0px 285px;
}	
.fp_bar
{
	margin:0px 15px 0px 15px;
}	
.fp_power
{
	font:11px Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	text-decoration:none;
	margin:10px 0px 0px 405px;
}	
.cp_abg
{
	background:url(../images/cp_abg.jpg) no-repeat;
	width:661px;
	height:230px;
	margin:20px 0px 0px 22px;
}	
.cp_title
{
	font:bold 13px Arial, Helvetica, sans-serif;
	color:#DD0404;
	margin:15px 0 0 25px;
}	
.cp_wep
{
	clear:left;
	font:bold 10px Arial, Helvetica, sans-serif;
	color:#444343;
	width:610px;
	margin:25px 0px 0px 25px;
}	
.cp_vide
{
	margin:-130px 0px 0px 52px;
	position:relative;
}	
.cp_abox
{
	clear:left;
	width:660px;
	background:url(../images/cp_abbg.jpg) repeat-x;
	border:1px solid #B0CADE;
	margin:15px 0px 0px 22px;
	padding-bottom:10px;
}	
.cp_time
{
	font:11px Arial, Helvetica, sans-serif;
	color:#6F7474;
	margin:20px 0px 0px 40px;
}	
.cp_abbul
{
	margin:12px 0px 0px 40px;
}	
.cp_add
{
	font:11px Arial, Helvetica, sans-serif;
	color:#6F7474;
	margin:8px 0px 0px 6px;
}	
.cp_small
{
	margin:8px 0px 0px 10px;
}	
.cp_abbox
{
	clear:left;
	width:660px;
	background:url(../images/cp_aboxbg.jpg) repeat-x;
	border:1px solid #B0CADE;
	margin:15px 0px 0px 22px;
	padding-bottom:10px;
}	
.cp_comm
{
	font:bold 13px Arial, Helvetica, sans-serif;
	color:#424242;
	margin:12px 0px 0px 10px;
}	
.cp_aimg1
{
	margin:24px 0px 0px 30px;
}	
.cp_post
{
	font:11px Arial, Helvetica, sans-serif;
	color:#2A77AE;
	text-decoration:underline;
	margin:22px 0px 0px 45px;
}	
.cp_from
{
	font:11px Arial, Helvetica, sans-serif;
	color:#666666;
	width:490px;
	margin:4px 0px 0px 45px;
}
.rp_names
{
	font:11px Arial, Helvetica, sans-serif;
	color:#2D6A8E;
	text-decoration:underline;
	margin:35px 0px 0px 24px;
}	
